{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/yodauser/css/login.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>
<form action="{{ path('user_register') }}" method="post"  novalidate="novalidate">
    <div class="awesome-username-wrapper">
    {{ form_errors(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
        {{ form_row(form.plainpassword.first, {
        label: 'Password'
        }) }}

        {{ form_row(form.plainpassword.second, {
        label: 'Repeat Password'
        }) }}

    {{ form_rest(form) }}
    </div>
    <input type="submit" class="btn btn-primary" name="sub" value="ok">
</form>
        </article>
    </section>
{% endblock %}